@model IEnumerable<acme.estudoemvideo.util.ViewModel.School.Util.SerieViewModel>

@{
    ViewData["Title"] = "Index";
    bool insert = bool.Parse(Context.User.Claims.Where(t => t.Type.Equals("Insert")).Select(t => t.Value).FirstOrDefault());
    bool update = bool.Parse(Context.User.Claims.Where(t => t.Type.Equals("Update")).Select(t => t.Value).FirstOrDefault());
    bool delete = bool.Parse(Context.User.Claims.Where(t => t.Type.Equals("Delete")).Select(t => t.Value).FirstOrDefault());
    bool read = bool.Parse(Context.User.Claims.Where(t => t.Type.Equals("Read")).Select(t => t.Value).FirstOrDefault());

    string botao = "";
    if (update && delete && read)
    {
        botao = "botaoEditarDeletarVisualizar";
    }
    else if (update && delete)
    {
        botao = "botaoEditarEDeletar";
    }
    else if (update)
    {
        botao = "botaoEditar";
    }
    else if (delete)
    {
        botao = "botaoDeletar";
    }
    else if (read)
    {
        botao = "botaoVisualizar";
    }
}

<h1>Serie</h1>

<div>
    <button class="btn btn-primary" onclick="open_modal('/Modal/ModalCadastroSerie','GET','CADASTRO SERIE','md_layout','dv_modal_show_cad_layout')">Cadastrar</button>
</div>
<table class="table table-striped" id="tabela_serie">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @if (botao == "botaoEditarDeletarVisualizar")
                {
                    @Html.DisplayNameFor(model => model.BotaoEditarDeletarVisualizar)
                }
                else if (botao == "botaoEditarEDeletar")
                {
                    @Html.DisplayNameFor(model => model.BotaoEditarEDeletar)
                }
                else if (botao == "botaoEditar")
                {
                    @Html.DisplayNameFor(model => model.BotaoEditar)
                }
                else if (botao == "botaoDeletar")
                {
                    @Html.DisplayNameFor(model => model.BotaoDeletar)
                }
                else if (botao == "botaoVisualizar")
                {
                    @Html.DisplayNameFor(model => model.BotaoVizualizar)
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (botao == "botaoEditarDeletarVisualizar")
                    {
                        @Html.Raw(item.BotaoEditarDeletarVisualizar)
                    }
                    else if (botao == "botaoEditarEDeletar")
                    {
                        @Html.Raw(item.BotaoEditarEDeletar)
                    }
                    else if (botao == "botaoEditar")
                    {
                        @Html.Raw(item.BotaoEditar)
                    }
                    else if (botao == "botaoDeletar")
                    {
                        <a class="btn btn-danger" onclick="delete_video('@item.Id')">Remover</a>
                        @Html.Raw(item.BotaoDeletar)
                    }
                    else if (botao == "botaoVisualizar")
                    {
                        @Html.Raw(item.BotaoVizualizar)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
